<!DOCTYPE html>  
<html>  
<head>  
    <title>Fall Detection</title> 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">   
</head>  
<body>  

        <div class="container">
            <h1 class="text-muted" style="text-align: center;">{{msg}}</h1>
            <div class="jumbotron">
                <h2 style="text-align: center;">Patient Monitoring</h2>
                <a href="/view" style="text-align: center;">View List</a>
                </p>
            </div>
        </div>
</body>  
</html>  
