<!DOCTYPE html>  
<html>  
<head>  
    <title>Fall Detection</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">  
</head>  
<body>  
    <div class="container">
        <div class="header">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation" ><a href="/">Home </a></li>
                <li role="presentation" >&nbsp; &nbsp;</li>
                <li role="presentation" ><a href="/add">Sign Up</a></li>              
              </ul>
            </nav>
            <h1 class="text-muted" style="text-align: center;">Fall Detection</h1>
        </div>
        <div class="jumbotron" >
        <label for="inputType" class="sr-only">Category</label>
        <!--<form class="form-signin" action = "/login" method="post">
                <select name="Category" class="form-control" required autofocus>
                        <option value="Physician">Physician</option>
                        <option value="Patient">Patient</option>
                </select>
        &nbsp;
        <label for="inputEmail" class="sr-only">Email Address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="address" id="inputPassword" class="form-control" placeholder="Password" required>
            &nbsp;
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">Sign In</button>
        </form>
        -->
            <p class="lead"></p>
            <p style="text-align: center;"><a class="btn btn-lg btn-success" href="/physicianlogin" role="button">Physician Login</a>
            </p>
            <p class="lead"></p>
            <p style="text-align: center;"><a class="btn btn-lg btn-success" href="/patientlogin" role="button">Patient Login</a>
            </p>
        
        </div>
        <footer class="footer">
            <p>&copy; Fall Detection</p>
        </footer>
    </div>
</body>  
</html>  
