<!DOCTYPE html>  
<html>  
<head>  
    <title>Fall Detection</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">  
</head>  
<body>  
    <div class="container">
        <div class="header">
            <nav>
              <ul class="nav nav-pills pull-right">
                <li role="presentation" ><a href="/">Home </a></li>
              </ul>
            </nav>
            <h1 class="text-muted" style="text-align: center;">Fall Detection</h1>
        </div>
        <div class="jumbotron">
            <h2 style="text-align: center;">Patient Monitoring</h2>
            <h2> &nbsp;</h2>
            <p class="lead"></p>
            <!--<p style="text-align: center;"><a class="btn btn-lg btn-success" href="/add" role="button">Sign up today</a>
            </p>
            <p class="lead"></p>-->
            <p style="text-align: center;"><a class="btn btn-lg btn-success" href="/view" role="button">List of Users</a>
            </p>
            <p class="lead"></p>
            <p style="text-align: center;"><a class="btn btn-lg btn-success" href="/viewsensordata" role="button">User Data</a>
            </p>
            <p class="lead"></p>
            <p style="text-align: center;"><a class="btn btn-lg btn-success" href="/delete" role="button">Remove Patients</a>
            </p>
            <p class="lead"></p>
            <p style="text-align: center;"><a class="btn btn-lg btn-success" href="https://locationmagic.org/locate" role="button">Location</a>
            </p>
        </div>
        <footer class="footer">
            <p>&copy; Fall Detection</p>
        </footer>
    </div>
</body>  
</html>  
