<!DOCTYPE html>  
<html>  
<head>  
    <title>Fall Detection</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">  
</head>  
<body>  
    <h3></h3> 
        <div class="container">
            <h1 class="text-muted" style="text-align: center;">Hello, User has been added</h1>
            <div class="jumbotron">
                <h2 style="text-align: center;">Patient Monitoring</h2>
                <h2> &nbsp;</h2>
                <p class="lead"></p>
                <p style="text-align: center;"><a class="btn btn-lg btn-success" href="/view" role="button">View Users</a>
                </p>
            </div>
        </div>
</body>  
</html>  
